<a href="https://colab.research.google.com/github/jfgs86/Taller-de-Pandas-Python/blob/master/Sesi%C3%B3n_3_Manipulaci%C3%B3n_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **GRUPO TLACUEPALLI**
# *Grupo de Estudio en Sistemas Complejos, Simulación Computacional y Dinámica Social  de la Maestría en Ciencias de la Complejidad UACM*

# **TALLER DE PANDAS PYTHON**
## Imparte Lic. Juan Francisco Gracia Sercado. Estudiante de la Maestría de Ciencias de la Complejidad. UACM
<img src=https://aprendeconalf.es/python/manual/img/pandas-logo.png width="800">


# **SESIÓN 3: Manipulación de Datos con PANDAS** 

![](https://static.javatpoint.com/tutorial/pandas/images/python-pandas.png)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("incidentes-viales-c5_2.csv")
print("TAMALO DEL CONJUNTO DE DATOS:", df.shape)
df.head()

## SELECCIÓN DE COLUMNAS 

Recordemos que  las filas y columnas se organizan como **[FILAS, COLUMNAS]**

  |Método de Selección  | Descripción                                         |
  |---------------------|-----------------------------------------------------|
  |.loc                 | Selecciona por **Etiqueta** (nombre de la columna)  | 
  |.iloc                | Selecciona por **Posición** (posición de la columna)|

In [ ]:
"""Selección de Columnas"""

df1_1 = df.loc[:,["fecha_cierre", "hora_cierre", "delegacion_inicio", "incidente_c4"]]  ## -----> Selecciona por Etiqueta
#df1_2 = df.iloc[:,[5,8,9,10]] ## -----> Selecciona por Posición

#SELECCIÓN DE FILAS

Para seleccionar se puede usar tanto **.loc** como **.iloc**. La diferencia con seleccionar columnas es que se indica que filas o rango de filas se quiere seleccionar.

In [ ]:
df1_3 = df1_1.loc[0:10,:] ##-----> Indicamos que se van a seleccionar las filas 0 a 10 y todas las columnas
df1_4 = df1_1.iloc[0:10, 2:4] ##-----> Indicamos que se van a seleccionar las filas 0 a 10 y las columnas de la 2 a la 4

## NOTA 1

Para la selección de **FILAS** y **COLUMNAS** ver la notas de la **SESIÓN 1**

# SELECCIÓN DE UNA MUESTRA ALEATORIA

Una selección aleatoria de filas o columnas de un Marco de datos con el método **sample()**. El método muestreará filas de forma predeterminada y acepta un número específico de filas / columnas para devolver, o una fracción de filas.

In [ ]:
df2_1 = df.sample(n = 10000)
df2_2 = df.sample(frac = 0.35)

# Filtrar por Observaciones.

Cuando  se necesita filtrar por un valor, rango de valores o categorias, se puede aplicar la siguiente instrucción:

**nombre_de_la_variable = conjunto_de_datos[ conjunto_de_datos["nombre_variable"] *_operador_* valor_rango_categoria]**

Los operadores pueden ser:

|       |                     |
|-------|---------------------|
| >, >= | mayor, mayor o igual|
| <, <= | menor, menor o igual|
| ==, !=| igual, diferente    |
| &, or | y, o                |   

En el siguiente ejemplo hemos creado un nuevo subconjunto de datos llamado **df3**, el cual es una tabla de frecuencias de la variable delegacion_inicio del conjunto de datos df.

In [ ]:
df3 = pd.DataFrame(df.delegacion_inicio.value_counts()) ## TABLA DE FRECUENCIAS
df3 = df3.rename(columns = {"delegacion_inicio":"frecuencia"}) ### CAMBIAMOS EL NOMBRE DE LA VARIABLE delegacion_inicio POR frecuencia
df3

In [ ]:
df3_1 = df3[ df3["frecuencia"] > 100000]   ## VALORES MAYORES A 100000
df3_2 = df3[ (df3["frecuencia"] > 50000) & (df3["frecuencia"] <= 100000)] ## VALORES MAYORES A 50000 Y MENORES O IGUALES A 100000
df3_3 = df3[df3["frecuencia"] != 90571] ## VALOR DIFERENTE A 90571
df3_3

df4 = df[ (df['dia_semana'] == "Lunes") | (df['dia_semana'] == "Jueves")] ### QUE TOME LOS DIAS DE LA SEMANA: LUNES O VIERNES, ESTE CASO TOMARA LOS DOS DIAS.
df4_1 = df4.dia_semana.value_counts() ## TABLA DE FRECUENCIAS

## FILTRAR POR UN PATRON ESPECÍFICO

Supongamos que necesitamos filtrar valores de una variable por una palabra o patron específico. Para ello ultilizamos método **srt.contains("patron")**.

En ejemplo siguiente, filtramos por el patron **"sin"**, que se encuentra en la variable **codigo_cierre** del conjunto de datos **df**. 

**NOTA 1**: ESTE MÉTODO NOS VA DEVOLVER UNA SERIE CON VALORES BOOLEANOS, ES DECIR, NOS INDICA SI EN TAL POSICIÓN SE ENCUENTRA (TRUE) O NO SE ENCUENTRA (FALSE) EL PATRON BUSCADO.

|index|valor |
|-----|------|
|  0  | True |
|  1  | False|
|  2  | True |

**NOTA 2**: Para sacar los valores que se buscaron por un patron podemos aplicar el ejemplo **df5_2**

In [ ]:

df5_sin = df.incidente_c4.str.contains("sin")    ## expresiones regulares 
df5_reportado = df.codigo_cierre.str.contains("reportado") ### filtramos por el patron 'reportado' 

#df5_sin

#df5_opcion = df[ df["incidente_c4"] == "lesionado-atropellado"]
#df5_opcion

df5_2 = df[df4_sin & df4_reportado] ### SACAMOS LOS LO VALORES 
df5_2.incidente_c4.value_counts()

## AGRUPAR POR UNA VARIABLE O VARIABLES

Utilizar el método **gropby** significa que pandas  va tomar la variable que se eligio para aplicarle tal método y la va a convertir en un **ínidce**, es decir, esa variable se convertira en nuestro marco de observaciones.

Por ejemplo, la variable mes_cierre tiene como índice la varible 'mes_cierre'.

In [ ]:
df.groupby("dia_semana").groups

In [ ]:
mes_cierre = df.groupby(["mes_cierre"]).folio.count()
mes_cierre

## CREACIÓN DE NUEVAS VARIABLES

Para crear nuevas variables podemos aplicar dos formas:
 1. Por creación directa. Ver ejemplo **df["Porcentaje]**
 2. Por el método **assing**. Ver ejemplo **mes_cierre**

Veamos los siguientes ejemplos.

La variable **df5** es una tabla de frecuencias que tiene como índice el día de la semana (se aplicó el método **groupby** al conjunto de datos **df** y se indicó que se agrupara por la variable **dia_semana**). Debemos notar que aparece el método **reset_index()** el cual saca los valores del índice y los injerta como una variable en el conjunto de datos y pone un índice numérico.

A la variable **df5** se le cambio el nombre a la variable folio por frecuencia.

Le indicamos que genere una nueva variable llamada **'Porcentaje'** la cual se calcula como muestra **df5["Porcentaje"]**

En la variable mes_cierre estamos aplicando el método **assign**

In [ ]:
df5 = df.groupby(["dia_semana"]).folio.count().reset_index()
df5 = df5.rename(columns={"folio":"frecuencia"})
df5["Porcentaje"] = (df5.frecuencia * 100)/df5.frecuencia.sum()
df5

In [ ]:
mes_cierre = mes_cierre.assign(Porcentaje = año_cierre["folio"] * 100/ año_cierre["folio"].sum()).round(2)
mes_cierre

# Estadísticas Demográficas y Económicas de 142 Países.
## Período 1952-2007

In [ ]:
df_estd = pd.read_csv("estadisticas_paises.csv")
df_estd

             País   Año   Población Continente  Expectativa_vida  PIBpercapita
0     Afghanistan  1952   8425333.0       Asia            28.801    779.445314
1     Afghanistan  1957   9240934.0       Asia            30.332    820.853030
2     Afghanistan  1962  10267083.0       Asia            31.997    853.100710
3     Afghanistan  1967  11537966.0       Asia            34.020    836.197138
4     Afghanistan  1972  13079460.0       Asia            36.088    739.981106
...           ...   ...         ...        ...               ...           ...
1699     Zimbabwe  1987   9216418.0     Africa            62.351    706.157306
1700     Zimbabwe  1992  10704340.0     Africa            60.377    693.420786
1701     Zimbabwe  1997  11404948.0     Africa            46.809    792.449960
1702     Zimbabwe  2002  11926563.0     Africa            39.989    672.038623
1703     Zimbabwe  2007  12311143.0     Africa            43.487    469.709298

[1704 rows x 6 columns]

## MÉTODO PIVOT_TABLE

El método **pivot_table** sirve para remodelar conjuntos de datos.

En el ejemplo siguiente la instrucción es:

Del conjunto de datos **df_estd** quiero que me pongas como **índice** la variable país, que la variable año la pongas como **columna** y que cada celda tenga el valor (**values**) de la variable Expectativa_vida.

In [ ]:
df_pais = pd.pivot_table(df_estd, index=["País"], columns= "Año", values= "Expectativa_vida")
df_pais_media = df_estd.groupby("País").PIBpercapita.mean()
#type(df_pais)
df_pais = pd.concat([df_pais, df_pais_media], axis=1).round(2)
df_pais = df_pais.rename(columns={"PIBpercapita":"Promedio"})
df_pais

                     1952   1957   1962   1967  ...   1997   2002   2007  Promedio
País                                            ...
Afghanistan         28.80  30.33  32.00  34.02  ...  41.76  42.13  43.83    802.67
Albania             55.23  59.28  64.82  66.22  ...  72.95  75.65  76.42   3255.37
Algeria             43.08  45.68  48.30  51.41  ...  69.15  70.99  72.30   4426.03
Angola              30.02  32.00  34.00  35.98  ...  40.96  41.00  42.73   3607.10
Argentina           62.48  64.40  65.14  65.63  ...  73.28  74.34  75.32   8955.55
...                   ...    ...    ...    ...  ...    ...    ...    ...       ...
Vietnam             40.41  42.89  45.36  47.84  ...  70.67  73.02  74.25   1017.71
West Bank and Gaza  43.16  45.67  48.13  51.63  ...  71.10  72.37  73.42   3760.00
Yemen Rep.          32.55  33.97  35.18  36.98  ...  58.02  60.31  62.70   1569.27
Zambia              42.04  44.08  46.02  47.77  ...  40.24  39.19  42.38   1358.20
Zimbabwe            48.45  50.47  52.36  54.00  ...  46.81  39.99  43.49    635.86

[142 rows x 13 columns]

In [ ]:
df_PIB =  df_estd.assign(PIB = df_estd["Población"] * df_estd["PIBpercapita"] )
df_PIB

In [ ]:
df_media = df_PIB.groupby("País").agg({"PIBpercapita":"mean"}).round(2).sort_values(by = ["PIBpercapita"], ascending = False).reset_index()
df_media
#df_media.PIBpercapita.hist(bins=10)

              País  PIBpercapita
0           Kuwait      65332.91
1      Switzerland      27074.33
2           Norway      26747.31
3    United States      26261.15
4           Canada      22410.75
..             ...           ...
137     Mozambique        542.28
138        Eritrea        541.00
139       Ethiopia        509.12
140        Burundi        471.66
141        Myanmar        439.33

[142 rows x 2 columns]